.live-catalog-container {
    min-height: 500px;
    position: relative;

    .live-catalog-filter {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-gap: 15px;
        margin-bottom: 20px;

        .length-1 {
            grid-column: span 1;
        }
        .length-2 {
            grid-column: span 2;
        }
        .length-3 {
            grid-column: span 3;
        }
        .length-4 {
            grid-column: span 4;
        }
        .length-5 {
            grid-column: span 5;
        }
        .length-6 {
            grid-column: span 6;
        }
        .length-7 {
            grid-column: span 7;
        }
        .length-8 {
            grid-column: span 8;
        }
        .length-9 {
            grid-column: span 9;
        }
        .length-10 {
            grid-column: span 10;
        }
        .length-11 {
            grid-column: span 11;
        }
        .length-12 {
            grid-column: span 12;
        }

    }


}

.live-catalog-head {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 15px;
    margin-bottom: 20px;
}



