#  Разместить здесь свои задачи

# Не удалять последнюю пустую строку!!!! Следить за EOF, должен быть LF
* *         * * *     root   /usr/bin/php /var/www/tasks/test_task.php >> /var/log/cron2.log 2>&1
